@model Vidly.ViewModels.MovieViewModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie</h2>


@using (Html.BeginForm("Save", "Movies"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.EditorFor(m => m.Movie.ReleaseDate,"mm/dd/yyyy", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.ReleaseDate)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.NumberInStock, new { @class = "control-label" })
        @Html.EditorFor(m => m.Movie.NumberInStock, new { @class = "form-controlf" })
        @Html.ValidationMessageFor(m => m.Movie.NumberInStock)

    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Movie.GenreId, new { @class = "control-label" })
        @Html.DropDownListFor(c => c.Movie.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.GenreId)

    </div>
    @Html.HiddenFor(m => m.Movie.Id);
    @Html.AntiForgeryToken()
    <input type="submit" value="Save" class="btn btn-primary" />
}

